<!doctype html>
<html>
<head>
  <title>Aiyara Cluster :: Prakob</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"></link>
  <script src="angular.js"></script>
  <script src="monitor.js"></script>
  <script type="text/javascript">

    String.prototype.endsWith = function(suffix) {
      return this.indexOf(suffix, this.length - suffix.length) !== -1;
    };

  </script>

</head>

<body ng-app="monitor" ng-controller="MonitorCtrl">
  <div class="panel panel-default" style="width: 99%; margin-top: 10px; margin-left: 10px; auto">

    <div style="display: table;">
      <img style="display: table-cell; vertical-align: middle;" src="prakob/media/sut.png"></img>
      <h2 style="display: table-cell; vertical-align: middle;">Aiyara Cluster :: Prakob (ประกอบ)</h2>
    </div>

    <style type="text/css">
      .panel {
        border: 0;
      }
    </style>

    <div class="panel-heading">
      <a href="prakob" class="btn btn-success">New cluster</a>
    </div>

    <table id="matrix" class="table table-bordered table-hover">
      <thead>
        <tr>
          <!--th>#</th-->
          <th>Name</th>
          <th>Image</th>
          <th>Command</th>
          <th>Ports</th>
          <th>Status</th>
          <th style="width: 3em">pause</th>
          <th style="width: 3em">kill</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in containers">
          <td>{{c.Names[0]}}</td>
          <td>{{c.Image}}</td>
          <td>{{c.Command}}</td>
          <td>
            <div ng-repeat="p in c.Ports">
              {{p.IP}}:{{p.PublicPort}}->{{p.PrivatePort}}/{{p.Type}}<br/>
            </div>
          </td>
          <td>{{c.Status}}</td>
          <td>
            <span ng-click="pause(c.Id, c.Status)"
                  ng-class="(c.Status.endsWith('(Paused)')) ? 'glyphicon-play':'glyphicon-pause'"
                  class="glyphicon">
            </span>
          </td>
          <td>
            <span ng-click="kill(c.Id)"
                  ng-class="(c.Status.endsWith('(Paused)')) ? 'glyphicon-remove':'glyphicon-ban-circle'"
                  class="glyphicon">
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="logs"></div>
</body>
</html>